 /* RESPONSIVE WEBSITE */

 @media (max-width: 550px) {
    .card {
    width: 400px;
    height: 900px;
    }
  
    #pict-1 {
    width: 30%;
    margin-bottom: 3%;
    margin-top: 10%;
    }
  
    #nama {
    margin-top: 3%;
    text-align: center;
    margin-left: auto;
    font-size: 20px;
    }
  
    #jobs{
    font-size: 15px;
    margin-left: 26%;
    margin-bottom: 5%;
    }
  
    #btn-learn-more {
    display: none;
    }
  
    #learn-more h2 {
    font-size: 20px;
    margin-top: 15%;
    margin-left: 3%;
    }
    
    #learn-more p {
    font-size: 15px;
    margin-left: 5%;
    margin-right: 2%;
    padding-top: 6%;
    }
    
    #pict-2 {
    width: 40%;
    }
  
    #skill {
    font-size: 20px;
    margin-top: 10%;
    }
  
    #skill-img {
    margin-left: 15%;
    width: 70%;
    }
  }

  @media (max-width: 360px) {
    .card {
    width: 330px;
    height: 800px;
    }

    #nama {
    font-size: 15px;
    margin-left: auto;
    text-align: center;
    }

    #jobs {
    font-size: 13px;
    margin-left: auto;
    text-align: center;
    }

    #learn-more h2 {
    font-size: 15px;
    }

    #learn-more p {
        font-size: 13px;
    }

    #skill {
    font-size: 15px;
    }
  }