html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #bcd4e6;
  display: flex;
  justify-content: center;
}

.card {
  width: 1200px;
  height: 1600px;
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
  background-color: white;
  margin-top: 75px;
  margin-bottom: 75px;
}

#pict-1 {
  width: 256px;
  margin-left: 385px;
  margin-top: 100px;
  border-radius: 50%;
}

#nama {
  margin-top: 25px;
  margin-left: 235px;
  font-weight: bold;
}

#jobs {
  margin-left: 430px;
  margin-bottom: 25px;
}

#btn-learn-more {
  text-decoration: none;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  margin-left: 470px;
}

#learn-more h2 {
  margin-top: 240px;
  margin-left: 25px;
}

#learn-more p {
  margin-left: 30px;
  padding-top: 10px;
}

#pict-2 {
  width: 448px;
  float: right;
}

#skill {
  margin-top: 30px;
  text-align: center;
}

#skills {
  margin-left: 50px;
  margin-right: 50px;
}

.footer {
  margin-top: 10%;
  margin-bottom: 100px;
  text-align: center;
}

#sosmed {
  display: inline-flex;
  margin: 50px;
}

#github {
  transition: transform .3s;
}

#github:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

#discord {
  transition: transform .3s;
}

#discord:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

#wa {
  transition: transform .3s;
}

#wa:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.social {
  font-size: 30px;
  padding: 10px;
}

  /* RESPONSIVE WEBSITE */

@media (max-width: 550px) {

  .card {
  width: 400px;
  height: 900px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  }

  #pict-1 {
  width: 30%;
  margin-left: 35%;
  margin-bottom: 3%;
  margin-top: 10%;
  border-radius: 50%;
  }

  #nama {
  margin-top: 3%;
  margin-left: 11%;
  font-weight: bold;
  font-size: 20px;
  }

  #jobs{
  font-size: 15px;
  margin-left: 26%;
  margin-bottom: 5%;
  }

  #btn-learn-more {
  display: none;
  }

  #learn-more h2 {
  font-size: 20px;
  margin-top: 15%;
  margin-left: 3%;
  }
  
  #learn-more p {
  font-size: 15px;
  margin-left: 5%;
  margin-right: 2%;
  padding-top: 6%;
  }
  
  #pict-2 {
  width: 40%;
  }

  #skill-img {
    margin-left: 15%;
    width: 70%;
  }
}